<div class="container d-flex justify-content-center align-items-center min-vh-100 bg-light">
  <div class="col-md-6 col-lg-4 bg-white shadow p-4 rounded">
    <h2 class="text-center mb-4">Forgot Password</h2>

@if(step == 1){

    <form [formGroup]="verifyemail" (ngSubmit)="verifyEmail()">
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" id="email" class="form-control" formControlName="email" placeholder="Enter your email" />
      </div>

      <button type="submit" class="btn btn-primary w-100">
        Send Reset Code
      </button>
    </form>

} 
@else if(step == 2){

<form [formGroup]="verifyResetCode" (ngSubmit)="setRestCode()">
  @if (true) {
    <div class="mb-3">
      <label for="resetCode" class="form-label">Verification Code</label>
      <input type="text" id="resetCode" class="form-control" formControlName="resetCode" placeholder="Enter the 6-digit code" maxlength="6"
      />
    </div>

    <button type="submit" class="btn btn-primary w-100">
      Verify Code
    </button>
  }
</form>


}
@else if(step == 3){

    <form [formGroup]="resetPassword" (ngSubmit)="setRestPassword()">
              <div class="mb-3">
        <label for="email" class="form-label">email</label>
        <input type="email" readonly id="email" class="form-control" formControlName="email" placeholder="Enter your email" />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">password</label>
        <input type="password" id="password" class="form-control" formControlName="newPassword" placeholder="Enter your email" />
      </div>
      <button type="submit" class="btn btn-primary w-100">
        Send Reset Code
      </button>
    </form>
    }


  </div>
</div>

